bin/
Debug/
publish/
Backup/
.vs/FaceDetection/
.vs/
.vs/FaceDetection/v16/.suo
.vs/FaceDetection/v16/Server/sqlite3/storage.ide
.vs/FaceDetection/v16/Server/sqlite3/storage.ide-shm
.vs/FaceDetection/v16/Server/sqlite3/storage.ide-wal
.vs/FaceDetection/v16/Server/sqlite3/storage.ide-wal
.vs/FaceDetection/v16/Server/sqlite3/storage.ide-shm
.vs/FaceDetection/v16/Server/sqlite3/storage.ide
.vs/FaceDetection/v16/.suo
.vs/FaceDetection/v16/.suo
.vs/FaceDetection/v16/Server/sqlite3/storage.ide


