<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FaceDetection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <FaceDetection.Properties.Settings>
      <setting name="language" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="video_file_location" serializeAs="String">
        <value>D:\UVCCAMERA</value>
      </setting>
      <setting name="enable_delete_old_files" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="keep_old_files_days" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="backlight_offset_mins" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="enable_backlight_off_when_idle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C1_enable_event_recorder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="recording_while_face_recognition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="recording_on_start" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C1_interval_before_reinitiating_recording" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="show_all_cams_simulteneously" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C1_enable_capture_operator" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C1_window_location" serializeAs="String">
        <value>16, 16</value>
      </setting>
      <setting name="C1_window_on_top" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="capture_method" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="culture" serializeAs="String">
        <value />
      </setting>
      <setting name="C1x" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="C1y" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="C1f" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="C2x" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="C2y" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="C2w" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="C2h" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="C2f" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="C3x" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="C3y" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="C3w" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="C3h" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="C3f" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="C4x" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="C4y" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="C4f" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="C1res" serializeAs="String">
        <value>1280x720</value>
      </setting>
      <setting name="C2res" serializeAs="String">
        <value>1280x720</value>
      </setting>
      <setting name="C3res" serializeAs="String">
        <value>1280x720</value>
      </setting>
      <setting name="C4res" serializeAs="String">
        <value>1280x720</value>
      </setting>
      <setting name="use_ir_sensor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="main_camera_index" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Recording_when_an_operator_senses" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C1_Recording_when_at_the_start_of_operation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="camera_count" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C1_enable_face_recognition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="backlight_on_upon_face_rec" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C1_seconds_before_event" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="C1_seconds_after_event" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="recording_length_seconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="C1w" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="C1h" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="C1_event_record_time_before_event" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="C1_event_record_time_after_event" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="face_record_time_before" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="face_record_time_after" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="recording_length_seconds1" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="temp_folder" serializeAs="String">
        <value>D:\TEMP</value>
      </setting>
      <setting name="C1_check_interval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="C1_capture_type" serializeAs="String">
        <value>Video</value>
      </setting>
      <setting name="C4w" serializeAs="String">
        <value>1280</value>
      </setting>
      <setting name="C4h" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="C1_enable_Human_sensor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="manual_record_time" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="C2_event_record_time_before_event" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="C3_event_record_time_before_event" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="C4_event_record_time_before_event" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="C2_event_record_time_after_event" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="C3_event_record_time_after_event" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="C4_event_record_time_after_event" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="C2_show_camera_number" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3_show_camera_number" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4_show_camera_number" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2_show_record_icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3_show_record_icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4_show_record_icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2_window_location" serializeAs="String">
        <value>32, 32</value>
      </setting>
      <setting name="C3_window_location" serializeAs="String">
        <value>48, 48</value>
      </setting>
      <setting name="C4_window_location" serializeAs="String">
        <value>64, 64</value>
      </setting>
      <setting name="C2_window_size" serializeAs="String">
        <value>640, 480</value>
      </setting>
      <setting name="C3_window_size" serializeAs="String">
        <value>640, 480</value>
      </setting>
      <setting name="C4_window_size" serializeAs="String">
        <value>640, 480</value>
      </setting>
      <setting name="C2_enable_event_recorder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C3_enable_event_recorder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C4_enable_event_recorder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C2_enable_capture_operator" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C3_enable_capture_operator" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C4_enable_capture_operator" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="C2_seconds_before_event" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="C3_seconds_before_event" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="C4_seconds_before_event" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="C2_seconds_after_event" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="C3_seconds_after_event" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="C4_seconds_after_event" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="C2_enable_face_recognition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3_enable_face_recognition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4_enable_face_recognition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2_check_interval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="C3_check_interval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="C4_check_interval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="C2_interval_before_reinitiating_recording" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="C3_interval_before_reinitiating_recording" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="C4_interval_before_reinitiating_recording" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="C2_enable_Human_sensor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3_enable_Human_sensor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4_enable_Human_sensor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2_Recording_when_at_the_start_of_operation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3_Recording_when_at_the_start_of_operation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4_Recording_when_at_the_start_of_operation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2_capture_type" serializeAs="String">
        <value>Video</value>
      </setting>
      <setting name="C3_capture_type" serializeAs="String">
        <value>Video</value>
      </setting>
      <setting name="C4_capture_type" serializeAs="String">
        <value>Video</value>
      </setting>
      <setting name="C1_show_window_pane" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2_show_window_pane" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3_show_window_pane" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4_show_window_pane" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C1_full_screen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2_full_screen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3_full_screen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4_full_screen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2_window_on_top" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3_window_on_top" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4_window_on_top" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C1_show_date_time" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C2_show_date_time" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C3_show_date_time" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C4_show_date_time" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C1_show_camera_number" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C1_window_size" serializeAs="String">
        <value>640, 480</value>
      </setting>
      <setting name="C1_show_record_icon" serializeAs="String">
        <value>True</value>
      </setting>
    </FaceDetection.Properties.Settings>
  </userSettings>
  <system.windows.forms jitDebugging="true" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>