<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FaceDetection.Properties.Camera2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FaceDetection.Properties.Camera1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FaceDetection.Properties.Camera4" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FaceDetection.Properties.Camera3" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FaceDetection.Properties.CameraTwo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FaceDetection.Properties.CameraViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FaceDetection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FaceDetection.Properties.Camera2>
            <setting name="pos_x" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="pos_y" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="view_width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="view_height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="frame_rate" serializeAs="String">
                <value>8</value>
            </setting>
        </FaceDetection.Properties.Camera2>
        <FaceDetection.Properties.Camera1>
            <setting name="pos_x" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="pos_y" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="view_width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="view_height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="frame_rate" serializeAs="String">
                <value>8</value>
            </setting>
        </FaceDetection.Properties.Camera1>
        <FaceDetection.Properties.Camera4>
            <setting name="pos_x" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="pos_y" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="view_width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="view_height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="frame_rate" serializeAs="String">
                <value>8</value>
            </setting>
        </FaceDetection.Properties.Camera4>
        <FaceDetection.Properties.Camera3>
            <setting name="pos_x" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="pos_y" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="view_width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="view_height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="frame_rate" serializeAs="String">
                <value>8</value>
            </setting>
        </FaceDetection.Properties.Camera3>
        <FaceDetection.Properties.CameraTwo>
            <setting name="pos_x" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="pos_y" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="view_width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="view_height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="frame_rate" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="window_on_top" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_window_pane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_current_datetime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_camera_no" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_recording_icon" serializeAs="String">
                <value>True</value>
            </setting>
        </FaceDetection.Properties.CameraTwo>
        <FaceDetection.Properties.CameraViewSettings>
            <setting name="pos_x" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="pos_y" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="view_width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="view_height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="frame_rate" serializeAs="String">
                <value>8</value>
            </setting>
        </FaceDetection.Properties.CameraViewSettings>
        <FaceDetection.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="camera_count" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="search_all" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="video_file_location" serializeAs="String">
                <value>C:\UVCCAMERA</value>
            </setting>
            <setting name="erase_old" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="erase_after" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="enable_face_recognition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="face_rec_interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="manual_record_maxtime" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="backlight_on_upon_face_rec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backlight_offset_mins" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="backlight_off_timer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="event_recorder_on" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="seconds_before_event" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="seconds_after_event" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="capture_type" serializeAs="String">
                <value>Video</value>
            </setting>
            <setting name="recording_length_seconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="keeprecording_while_facerecognition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="recording_on_start" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="interval_between_reinitiating_recording" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="show_all_cams_simulteneously" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="current_camera_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="capture_operator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="window_on_top" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_window_pane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_current_datetime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_camera_no" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_recording_icon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="selectedCaptureMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="culture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ggg" serializeAs="String">
                <value />
            </setting>
        </FaceDetection.Properties.Settings>
    </userSettings>
</configuration>