<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FaceDetection.Properties.Camera2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FaceDetection.Properties.Camera1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FaceDetection.Properties.Camera4" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FaceDetection.Properties.Camera3" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FaceDetection.Properties.CameraTwo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FaceDetection.Properties.CameraViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FaceDetection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
      <add key="EnableWindowsFormsHighDpiAutoResizing" value="false"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <FaceDetection.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="video_file_location" serializeAs="String">
                <value>D:\UVCCAMERA</value>
            </setting>
            <setting name="delete_old_files" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keep_old_files_days" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="backlight_offset_mins" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="idle_backlight_off" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="event_recorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="recording_upon_face_recognition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="interval_before_reinitiating_recording" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="show_all_cams_simulteneously" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="capture_operator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="window_on_top" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_current_datetime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_recording_icon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="capture_method" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="culture" serializeAs="String">
                <value />
            </setting>
            <setting name="cam1_position" serializeAs="String">
                <value>16, 16</value>
            </setting>
            <setting name="cam1f" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="cam2_position" serializeAs="String">
                <value>16, 16</value>
            </setting>
            <setting name="cam2_size" serializeAs="String">
                <value>1280, 720</value>
            </setting>
            <setting name="cam2f" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="cam3_position" serializeAs="String">
                <value>16, 16</value>
            </setting>
            <setting name="cam3_size" serializeAs="String">
                <value>1280, 720</value>
            </setting>
            <setting name="cam3f" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="cam4_position" serializeAs="String">
                <value>16, 16</value>
            </setting>
            <setting name="cam4f" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="cam1_resolution" serializeAs="String">
                <value>1280, 720</value>
            </setting>
            <setting name="cam2_resolution" serializeAs="String">
                <value>1280, 720</value>
            </setting>
            <setting name="cam3_resolution" serializeAs="String">
                <value>1280, 720</value>
            </setting>
            <setting name="cam4_resolution" serializeAs="String">
                <value>1280, 720</value>
            </setting>
            <setting name="camera_index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="store_location_description" serializeAs="String">
                <value>Please, select the location to store videos</value>
            </setting>
            <setting name="full_screen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="main_camera_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="recording_when_an_operation_starts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="camera_count" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="face_recognition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="backlight_on_operator_capture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="seconds_before_event" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="seconds_after_event" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="recording_length_seconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="show_window_pane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_camera_no" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cam1_size" serializeAs="String">
                <value>624, 441</value>
            </setting>
            <setting name="event_record_time_before_sec" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="event_record_time_after_sec" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="face_record_time_before_sec" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="face_record_time_after_sec" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="recording_length_in_seconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="temp_folder" serializeAs="String">
                <value>D:\TEMP</value>
            </setting>
            <setting name="sensor_tick_interval_ms" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="capture_type" serializeAs="String">
                <value>Video</value>
            </setting>
            <setting name="cam4_size" serializeAs="String">
                <value>1280, 720</value>
            </setting>
            <setting name="human_sensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="manual_record_time" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="camera_1_x" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="camera_1_y" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="camera_1_width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="camera_1_height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="camera_2_x" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="camera_2_y" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="camera_2_width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="camera_2_height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="camera_3_x" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="camera_3_y" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="camera_3_width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="camera_3_height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="camera_4_x" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="camera_4_y" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="camera_4_width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="camera_4_height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </FaceDetection.Properties.Settings>
    </userSettings>
  <system.windows.forms jitDebugging="true"/>
</configuration>
